---
import { images } from "../data/Images"
---

<section class="w-full m-auto px-3 bg-eucalyptus-50">
  <div class="max-w-7xl m-auto">
    <masonry-layout
      class="lg:mx-auto"
      id="gallery"
      cols="3"
      gap="12"
      maxcolwidth="100"
    >
      {
        images.map((img) => (
          <a
            class="rounded-md overflow-hidden"
            href={img.href}
            data-pswp-width={img.width}
            data-pswp-height={img.height}
            target="_blank"
            aria-label={img.label}
          >
            <img
              fetchpriority="low"
              src={img.href}
              width={img.width}
              height={img.height}
              alt={img.label}
              loading="lazy"
            />
          </a>
        ))
      }
    </masonry-layout>
  </div>
</section>
<script>
  window.addEventListener("load", () => {
    const $masonry = document.querySelector("masonry-layout")
    if (window.screen.width < 660) {
      $masonry?.setAttribute("cols", "2")
    } else {
      $masonry?.setAttribute("cols", "3")
    }
  })

  window.addEventListener("DOMContentLoaded", async () => {
    try {
      await import("@appnest/masonry-layout")
      await import("photoswipe/style.css")
      const module = await import("photoswipe/lightbox")
      const PhotoSwipeLightbox = module.default
      const lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
      })
      lightbox.init()
    } catch (error) {
      console.log(error)
      return
    }
  })
</script>
